---
http_interactions:
- request:
    method: get
    uri: http://reflections.mndigital.org/oai/oai.php?metadataPrefix=oai_dc&verb=ListIdentifiers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2017-03-02T20:00:24Z</responseDate><request
        verb="ListIdentifiers" metadataPrefix="oai_dc">http://reflections.mndigital.org/oai/oai.php</request><ListIdentifiers><header><identifier>oai:reflections.mndigital.org:p16022coll44/0</identifier><datestamp>2016-10-17</datestamp><setSpec>p16022coll44</setSpec></header><header><identifier>oai:reflections.mndigital.org:p16022coll44/1</identifier><datestamp>2016-10-17</datestamp><setSpec>p16022coll44</setSpec></header><header><identifier>oai:reflections.mndigital.org:p16022coll44/2</identifier><datestamp>2016-10-17</datestamp><setSpec>p16022coll44</setSpec></header><header><identifier>oai:reflections.mndigital.org:p16022coll44/3</identifier><datestamp>2016-10-17</datestamp><setSpec>p16022coll44</setSpec></header><header><identifier[...]
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/dmwebservices/index.php?q=dmGetItemInfo/p16022coll44/0/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Pottery by Andy Balmer on display at the studio of Jeff Oestreich,
        Taylors Falls, Minnesota ","photog":"American Craft Council ","contri":{},"descri":"Andy
        Balmer from Portland, Oregon, was a guest potter at the studio of Minnesota
        potter Jeff Oestreich during the 22nd Annual St. Croix Valley Pottery Tour,
        held May 9, 10, and 11, 2014. Balmer was one of 44 potters selling work at
        seven host studios throughout the St. Croix River Valley.","dat":"2014-05-09","publia":"American
        Craft Council Library","dimens":{},"genera":"The Arts","type":"Still Image","physic":"Color
        photographs","specif":"Pottery; Artists; Artists'' studios;","subjec":"Potters;
        Pottery (visual works); Crafts (art genres); Rural communities; tours (journeys);
        Balmer, Andy; Exhibitions (events)","city":"Taylors Falls","distri":{},"county":"Chisago","state":"Minnesota","countr":"United
        States","geogra":{},"geonam":"http:\/\/sws.geonames.org\/5049773\/","litora":{},"princi":{},"geogrb":{},"langua":{},"par":{},"contra":"American
        Craft Council ","contac":"American Craft Council Library, 1224 Marshall Street
        NE, Suite 200, Minneapolis, MN 55413, http:\/\/www.craftcouncil.org\/library
        ","righta":"Use of this image is governed by U.S. and international copyright
        laws. Please contact the American Craft Council Library (www.craftcouncil.org\/library)
        for permission to use. ","identi":"balmera_pottery_2014","resour":"acc004","projec":"Minnesota
        Reflections 2014-15;","fiscal":"Funded by the Minnesota Historical and Cultural
        Heritage Grants. The Minnesota Historical and Cultural Grants Program has
        been made possible by the Arts and Cultural Heritage Fund through the vote
        of Minnesotans on November 4, 2008. Administered by the Minnesota Historical
        Society.\n","publis":{},"date":{},"format":"image\/jp2","digspe":"image\/tiff","digspa":"53775586","digspb":"24","digspc":"72","digspd":"none","digspf":"5184","digspg":"3456","digsph":{},"digspi":{},"digspj":"Windows
        XP","digspk":"9cfb9095d14777678b417acf66769157","transc":{},"transl":{},"fullrs":{},"find":"1.jp2","dmaccess":{},"dmimage":{},"dmcreated":"2015-02-05","dmmodified":"2016-10-17","dmoclcno":"904453441","dmrecord":"0","restrictionCode":"1","cdmfilesize":"1904003","cdmfilesizeformatted":"1.82
        MB","cdmprintpdf":"0","cdmhasocr":"0","cdmisnewspaper":"0"}'
  recorded_at: Thu, 02 Mar 2017 20:00:24 GMT
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/dmwebservices/index.php?q=dmGetCompoundObjectInfo/p16022coll44/0/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Requested item is not compound","code":"-2"}'
  recorded_at: Thu, 02 Mar 2017 20:00:24 GMT
[...]
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/dmwebservices/index.php?q=dmGetCompoundObjectInfo/p16022coll44/96/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Document","page":[{"pagetitle":"Audio ","pagefile":"95.mp3","pageptr":"94"},{"pagetitle":"Transcript","pagefile":"96.pdf","pageptr":"95"}]}'
  recorded_at: Thu, 02 Mar 2017 20:01:10 GMT
[...]
